<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--  Log4j配置文件。-->
<log4j:configuration>

    <appender name="STDOUT-APPENDER" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="STDERR-APPENDER" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="ERROR-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/common-error.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="threshold" value="error"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <!-- [公共Appender] 默认 -->
    <appender name="DEFAULT-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/common-default.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <!-- RETRY-BROKER APPENDER begin-->
    <appender name="RETRY-BROKER-DIGEST-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-broker-digest.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="RETRY-BROKER-DETAIL-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-broker.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <!-- RETRY-BROKER APPENDER end-->

    <!-- RETRY-JOB-LOADER APPENDER begin-->
    <appender name="RETRY-JOB-LOADER-DIGEST-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-job-loader-digest.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="RETRY-JOB-LOADER-DETAIL-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-job-loader.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <!-- RETRY-JOB-LOADER APPENDER end-->

    <!-- RETRY-JOB-DISPATCHER APPENDER begin-->
    <appender name="RETRY-JOB-DISPATCHER-DIGEST-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-job-dispatcher-digest.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="RETRY-JOB-DISPATCHER-DETAIL-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-job-dispatcher.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <!-- RETRY-JOB-DISPATCHER APPENDER end-->

    <!-- RETRY-JOB-EXECUTOR APPENDER begin-->
    <appender name="RETRY-JOB-EXECUTOR-DIGEST-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-job-executor-digest.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="RETRY-JOB-EXECUTOR-DETAIL-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-job-executor.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <!-- RETRY-JOB-EXECUTOR APPENDER end-->

    <!-- RETRY APPENDER begin-->
    <appender name="RETRY-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <!-- RETRY APPENDER end-->

    <!-- RETRY-ALARM APPENDER begin-->
    <appender name="RETRY-ALARM-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-alarm.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <!-- RETRY-ALARM APPENDER end-->

    <!-- RETRY-HEALTHY-CHECK APPENDER begin-->
    <appender name="RETRY-HEALTHY-CHECK-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-healthy-check.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <!-- RETRY-HEALTHY-CHECK APPENDER end-->

    <!-- RETRY-STATISTICS APPENDER begin-->
    <appender name="RETRY-STATISTICS-APPENDER"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/Users/walkerljl/logs/walkerljl/retry/retry-statistics.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <!-- RETRY-STATISTICS APPENDER end-->

    <!--  ========================================================= -->
    <logger name="STDOUT" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="STDOUT-APPENDER"/>
    </logger>

    <logger name="STDERR" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="STDERR-APPENDER"/>
    </logger>

    <!-- RetryBroker LOGGER begin-->
    <logger name="RETRY_BROKER_DIGEST" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-BROKER-DIGEST-APPENDER"/>
    </logger>
    <logger name="RETRY_BROKER_DETAIL" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-BROKER-DETAIL-APPENDER"/>
    </logger>
    <!-- RetryBroker LOGGER end-->

    <!-- RetryJobLoader LOGGER begin-->
    <logger name="RETRY_JOB_LOADER_DIGEST" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-JOB-LOADER-DIGEST-APPENDER"/>
    </logger>
    <logger name="RETRY_JOB_LOADER_DETAIL" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-JOB-LOADER-DETAIL-APPENDER"/>
    </logger>
    <!-- RetryJobLoader LOGGER end-->

    <!-- RetryJobDispatcher LOGGER begin-->
    <logger name="RETRY_JOB_DISPATCHER_DIGEST" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-JOB-DISPATCHER-DIGEST-APPENDER"/>
    </logger>
    <logger name="RETRY_JOB_DISPATCHER_DETAIL" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-JOB-DISPATCHER-DETAIL-APPENDER"/>
    </logger>
    <!-- RetryJobDispatcher LOGGER end-->

    <!-- RetryJobExecutor LOGGER begin-->
    <logger name="RETRY_JOB_EXECUTOR_DIGEST" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-JOB-EXECUTOR-DIGEST-APPENDER"/>
    </logger>
    <logger name="RETRY_JOB_EXECUTOR_DETAIL" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-JOB-EXECUTOR-DETAIL-APPENDER"/>
    </logger>
    <!-- RetryJobExecutor LOGGER end-->

    <!-- Retry LOGGER begin-->
    <logger name="RETRY" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-APPENDER"/>
    </logger>
    <!-- Retry LOGGER end-->

    <!-- RetryAlarm LOGGER begin-->
    <logger name="RETRY_ALARM" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-ALARM-APPENDER"/>
    </logger>
    <!-- RetryAlarm LOGGER end-->

    <!-- RetryHealthyCheck LOGGER begin-->
    <logger name="RETRY_HEALTHY_CHECK" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-HEALTHY-CHECK-APPENDER"/>
    </logger>
    <!-- RetryHealthyCheck LOGGER end-->

    <!-- RetryStatistics LOGGER begin-->
    <logger name="RETRY-STATISTICS" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="RETRY-STATISTICS-APPENDER"/>
    </logger>
    <!-- RetryStatistics LOGGER end-->

    <logger name="org.walkerljl.toolkit.db" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="DEFAULT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
        <appender-ref ref="STDERR-APPENDER"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="DEFAULT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
        <appender-ref ref="STDERR-APPENDER"/>
    </root>

</log4j:configuration>

